# Ignore everything
**

# ... except for dependencies and source
!api/pyproject.toml
!api/uv.lock
!api/*.py
!api/src/*.py
!api/src/modpack/*.py
!api/src/schema/*.py
!api/src/server/*.py
!api/src/version/*.py
!api/*.yaml

!app/*
!app/src
