* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */
body {
  line-height: 1.7em;
  color: #3f4c4d;
  font-size: 13px;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
  color: #34495e;
}

a {
  color: #2f7ea3;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

.pure-img-responsive {
  max-width: 100%;
  height: auto;
}

/*
 * -- LAYOUT STYLES --
 * These are some useful classes which I will need
 */
.l-box {
  padding: 1em;
}

.l-box-lrg {
  padding: 2em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.is-center {
  text-align: center;
}

/*
 * -- PURE FORM STYLES --
 * Style the form inputs and labels
 */
.pure-form label {
  margin: 1em 0 0;
  font-weight: bold;
  font-size: 100%;
}

.pure-form input[type] {
  border: 2px solid #ddd;
  box-shadow: none;
  font-size: 100%;
  width: 100%;
  margin-bottom: 1em;
}

.pure-form select {
  height: 2.5em;
}

/*
 * -- PURE BUTTON STYLES --
 * I want my pure-button elements to look a little different
 */
.pure-button {
  background-color: #1f8dd6;
  color: white;
  padding: 0.5em 2em;
  border-radius: 5px;
}

a.pure-button-primary {
  background: white;
  color: #1f8dd6;
  border-radius: 5px;
  font-size: 120%;
}

/*
 * -- CONTENT STYLES --
 * This represents the content area (everything below the blue section)
 */
.content-wrapper {
  /* These styles are required for the "scroll-over" effect */
  position: absolute;
  top: 6%;
  width: 100%;
  min-height: 12%;
  z-index: 2;
  background: white;
}

/* We want to give the content area some more padding */
.content {
  position: absolute;
  width: 100%;
  padding: 1em 1em 3em;
}

.pure-table {
  width: 100%;
}

.vertical-table thead,
.vertical-table tbody {
  display: inline-block;
}

.home-menu {
  padding: 0.5em;
  text-align: center;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.home-menu {
  background: #2d3e50;
}
.pure-menu.pure-menu-fixed {
  /* Fixed menus normally have a border at the bottom. */
  border-bottom: none;
  /* I need a higher z-index here because of the scroll-over effect. */
  z-index: 4;
}

.home-menu .pure-menu-list {
  float: left;
}
.home-menu .pure-menu-list.auth {
  float: right;
}

.home-menu .pure-menu-heading {
  color: white;
  font-weight: 400;
  font-size: 120%;
}

.home-menu .pure-menu-selected a {
  color: white;
}

.home-menu a {
  color: #6fbef3;
}
.home-menu li a:hover,
.home-menu li a:focus {
  background: none;
  border: none;
  color: #aecfe5;
}

footer {
  background: #111;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  z-index: 2;
}

.splash-container {
  background: #1f6db6;
  z-index: 1;
  overflow: hidden;
  /* The following styles are required for the "scroll-over" effect */
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed !important;
}

.splash {
  /* absolute center .splash within .splash-container */
  width: 80%;
  height: 50%;
  margin: auto;
  position: absolute;
  top: -100px;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
}

/* This is the main heading that appears on the blue section */
.splash-head {
  font-size: 20px;
  font-weight: bold;
  color: white;
  border: 3px solid white;
  padding: 1em 1.6em;
  font-weight: 100;
  border-radius: 5px;
  line-height: 1em;
  text-transform: uppercase;
}

/* This is the subheading that appears on the blue section */
.splash-subhead {
  color: white;
  letter-spacing: 0.05em;
}

.splash-subhead a {
  color: white;
  text-decoration: underline;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  overflow: hidden;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #1f8dd6;
  transform: translateZ(0);
  animation: load 1.1s infinite linear;
}

.loader-sm,
.loader-sm:after {
  border-radius: 50%;
  width: 5em;
  height: 5em;
}

.loader-sm {
  margin: 10px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  overflow: hidden;
  border-top: 0.55em solid rgba(255, 255, 255, 0.2);
  border-right: 0.55em solid rgba(255, 255, 255, 0.2);
  border-bottom: 0.55em solid rgba(255, 255, 255, 0.2);
  border-left: 0.55em solid #1f8dd6;
  transform: translateZ(0);
  animation: load 1.1s infinite linear;
}

@keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.input-container {
  display: flex;
  flex-direction: row;
  border: 2px solid #ddd;
  border-radius: 4px;
  background: #fff;
  overflow: hidden;
  margin-bottom: 1em;
}

.input-container.invalid {
  border-color: #e9322d;
}

.input-container input[type] {
  outline: none;
  border: none;
  background: none;
  font-size: 1em;
  padding: 0.5em;
  color: inherit;
  flex: auto 1 1;
  width: 100%;
  background: none;
  background-color: transparent;
  margin-bottom: 0px;
}

.input-container .fa {
  padding: 10px;
}

.list-container {
  position: relative;
}

.list-container-hidden-input {
  position: absolute;
  top: 112px;
  width: 100%;
  opacity: 0%;
  z-index: -1;
}

.list-details {
  position: relative;
  bottom: 0px;
  text-align: center;
  height: 150px;
  border: 2px solid #ddd;
  border-radius: 4px;
  background: #fff;
  align-items: center;
  padding: 0em 0.6em;
  margin-bottom: 1em;
}

.list-details img {
  float: left;
}

@media (min-width: 48em) {
  body {
    font-size: 16px;
  }

  .content-wrapper {
    top: 13%;
  }

  .content {
    left: 15%;
    width: 70%;
  }

  .home-menu {
    text-align: left;
  }

  .home-menu ul {
    float: right;
  }

  .splash {
    width: 50%;
    height: 50%;
  }

  .splash-head {
    font-size: 250%;
  }
}

@media (min-width: 78em) {
  /* We increase the header font size even more */
  .splash-head {
    font-size: 300%;
  }
}
