[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cachetools = "==5.3.1"
docker = "==6.1.3"
kubernetes = "==26.1.0"
packaging = "==23.1"
pydantic = {extras = ["dotenv"], version = "==1.10.8"}
python-jose = {extras = ["cryptography"], version = "==3.3.0"}
strawberry-graphql = {extras = ["fastapi"], version = "==0.180.0"}
uvicorn = {extras = ["standard"], version = "==0.22.0"}

[dev-packages]
autopep8 = "*"
pylint = "*"
pytest = "*"

[requires]
python_version = "3.11"
