[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cachetools = "==5.3.3"
docker = "==7.0.0"
kubernetes = "==27.2.0"
packaging = "==23.2"
pydantic = "==2.7.0"
pydantic-settings = "==2.2.1"
python-jose = {extras = ["cryptography"], version = "==3.3.0"}
strawberry-graphql = {extras = ["cli", "fastapi"], version = "==0.225.1"}
uvicorn = {extras = ["standard"], version = "==0.29.0"}

[dev-packages]
autopep8 = "*"
pylint = "*"
pytest = "*"

[requires]
python_version = "3.11"
