[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
autopep8 = "*"
pylint = "*"
pytest = "*"

[requires]
python_version = "3.9"

[packages]
docker = "==5.0.3"
pyquery = "==1.4.3"
packaging = "==21.3"
cachetools = "==5.0.0"

[packages.pydantic]
extras = [ "dotenv",]
version = "==1.9.0"

[packages.strawberry-graphql]
extras = [ "fastapi",]
version = "==0.95.4"

[packages.uvicorn]
extras = [ "standard",]
version = "==0.17.4"
