name: docs CI/CD

on:
  push:
    branches: [ master ]
    paths:
      - 'docs/**'
  pull_request:
    branches: [ master ]
    paths:
      - 'docs/**'

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./docs

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: '24'
          cache: 'npm'

      - name: install dependencies
        run: npm ci

      - uses: peaceiris/actions-hugo@75d2e84710de30f6ff7268e08f310b60ef14033f # v3
        with:
          hugo-version: '0.104.3'
          extended: true

      - name: run hugo
        run: hugo --debug

      - name: Check HTML
        uses: anishathalye/proof-html@a76b66427e600c6992e8937a741afffd2264a613 # v2
        with:
          directory: "./docs/public"
          #arguments:

      - name: deploy
        uses: distributhor/workflow-webhook@2381f0e9c7b6bf061fb1405bd0804b8706116369 # v3
        env:
          webhook_url: ${{ secrets.DOCS_DEPLOY_WEBHOOK_URL }}
          webhook_secret: ${{ secrets.DOCS_DEPLOY_WEBHOOK_URL }}
