name: docs CI/CD

on:
  push:
    branches: [ master ]
    paths:
      - 'docs/**'
  pull_request:
    branches: [ master ]
    paths:
      - 'docs/**'

  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./docs

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          node-version: '22'
          cache: 'npm'

      - name: install dependencies
        run: npm ci

      - uses: peaceiris/actions-hugo@75d2e84710de30f6ff7268e08f310b60ef14033f # v3
        with:
          hugo-version: '0.104.3'
          extended: true

      - name: run hugo
        run: hugo --debug

      - name: Check HTML
        uses: anishathalye/proof-html@acec311c40ea13c9ffa6490e77ac67f52594f403 # v2
        with:
          directory: "./docs/public"
          #arguments:

      - name: deploy
        uses: distributhor/workflow-webhook@2381f0e9c7b6bf061fb1405bd0804b8706116369 # v3
        env:
          webhook_url: ${{ secrets.DOCS_DEPLOY_WEBHOOK_URL }}
          webhook_secret: ${{ secrets.DOCS_DEPLOY_WEBHOOK_URL }}
